@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background: #e9e9ed;
}

.input-group {
    position: relative;
    margin: 20px 0;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    color: rgb(15, 60, 239);
    padding: 0 5px;
    pointer-events: none;
    transition: .5s;
}

.input-group input {
    width: 560px;
    height: 70px;
    font-size: 16px;
    color: #7d0f99;
    padding: 0 15px;
    background: transparent;
    border: 3.2px solid rgb(48, 139, 139);
    outline: none;
    
}

.input-group input:focus~label,
.input-group input:valid~label {
    top: 0;
    font-size: 14px;
    /* background: #dddded; */
}